@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter24pt-Black.woff2') format('woff2'),
        url('../fonts/Inter24pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter24pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter24pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter24pt-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter24pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter24pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter24pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter24pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter24pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter24pt-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter24pt-Light.woff2') format('woff2'),
        url('../fonts/Inter24pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter24pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter24pt-Thin.woff2') format('woff2'),
        url('../fonts/Inter24pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Inter";
}

button {
    cursor: pointer;
}

:root {
    --bgbody: #ffffff;
    --bgsidebar: #F3F4F6;
    --bgcardcontainer: #F9FAFB;
    --navlinkbg: #0058E8;
    --bgsuccess: #3DD5981A;
    --bgwarning: #FACC151A;
    --bgatblue: #60A5FA1A;
    --cprimary: #111827;
    --csecondary: #4B5563;
    --cinverted: #F3F4F6;
    --csuccess: #22C55E;
    --cwarning: #FACC15;
    --catblue: #60A5FA;
    --borderColor: #E5E7EB;
}

.bg-body {
    background-color: var(--bgbody);
}

.bg-sidebar {
    background-color: var(--bgsidebar);
}

.bg-cardcontainer {
    background-color: var(--bgcardcontainer);
}

.bg-navlink {
    background-color: var(--navlinkbg);
}

.c-primary {
    color: var(--cprimary);
}

.c-secondary {
    color: var(--csecondary);
}

.c-inverted {
    color: var(--cinverted);
}

.text-border-main {
    color: var(--borderColor);
}

.border-main {
    border-color: var(--borderColor);
}

.border-secondary {
    border-color: var(--csecondary);
}

.scroll-x-hidden::-webkit-scrollbar {
    height: 0px;
}

.scroll-y-hidden::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--borderColor);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--navlinkbg);
    border: 1px solid var(--borderColor);
    border-radius: 999px;
}